{% extends 'COMPLEMENTS/head.htm' %}

{% block head %}

{% endblock head %}

{% block body %}
{% csrf_token %}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-color: black">
            <center>
                <img class="img-fluid" src="../../static/img/Carousel/Vertagear--Carrusel---Octubre-2018.png">
            </center>
        </div>
        <div class="carousel-item" style="background-color: black">
            <center>
                <img class="img-fluid" src="../../static/img/Carousel/ZOWIE--Carrusel---Octubre-2018.png">
            </center>
        </div>
        <div class="carousel-item" style="background-color: black">
            <center>
                <img class="img-fluid" src="../../static/img/Carousel/HyperX-RGB-Carrusel---01.png">
        </div>
        <div class="carousel-item" style="background-color: black">
            <center>
                <img class="img-fluid" src="../../static/img/Carousel/Carrusel---LG--Septiembre-2018.png">
            </center>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>
<div>

</div>
<div class="text-center container">
    <div class="card-body">
        <h5 class="card-title" style="font-family: fantasy">Elabora presupuestos con Reboot Software</h5>
        <p class="card-text" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
            Como todos sabemos hoy en dia recorrer tiendas por tiendas en busca de productos que sean mas baratos que
            en otras
            se nos hacen cada vez mas dificil y ocupamos mucho tiempo, es por eso que nosotros como empresa Reboot
            Software quisimos demostrar nuestro
            trabajo creando una Pagina Web que nos ayude a agilizar compras ahorrando dinero y tiempo a la vez, es por
            eso que quisimos hacer
            una pagina para mantener un orden en compras que se desean realizar a futuro o mantener un orden las
            compras recientes para asi nuestros clientes
            queden satisfechos con las compras realizadas de sus Productos.
        </p>
        <img class="img-fluid" src="../../static/img/Home/Compatibilidad.png" alt="">


        <p class="card-text" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
            <h5 class="card-title" style="font-family: fantasy">Tu Presupuesto al Alcanze de tus Manos</h5>
            Para que estes siempre conectado y puedas llevar tu presupuesto para todos lados, esta herramienta será
            compatible
            con todos los dispositivos que esten a tu alcanze, vallas para donde vallas siempre podras llevar tu
            presupuesto contigo
            y siempre estaras conectado con nosotros.

        </p>
    </div>
</div>


{% endblock body %}