{% extends 'Complements/head.htm' %}
{% load static %}
{% block body %}
<div class="container">
    <div class="col-sm-9 col-md-10 col-lg-5 mx-auto">
        <div class="card my-5">
            <div class="card-body">
                <h1 class="card-title text-center h2" style="font-family: fantasy">Iniciar Sesion</h1>
                <form class="form-signin">
                    <center>
                        <hr style="background-color: black">
                        <a href="{% url 'social:begin' 'facebook' %}"><img style="width: 100%" src="../../static/img/Botones/facebook.png" alt=""></a>
                        <hr>
                        <a href=""><img style="width: 100%" src="../../static/img/Botones/google.png" alt=""></a>
                        <hr style="background-color: black">
                        <a class="btn-lg btn-warning" href="{% url 'login_usuario' %}">Log in</a>
                    </center>
                </form>
                <div class="container">
                    <center>
                        <br>
                        <img style="width: 70%" src="../../static/img/Logo/reboot1.png" alt="">
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}