{% extends 'Complements/head.htm' %}
{% block body%}
<form method="POST" id="Formulario" autocomplete="off">
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" method="POST">
                            <br>
                            <h3 class="text-center" style="font-family: fantasy">Registrarse</h3>
                            <br>


                            <h4>Datos Personales</h4>
                            <hr style="background-color: black">

                            <!-- Rut Usuario -->
                            <div class="form-group">
                                <label for="Rut">Rut:</label><br>
                                <input type="text" name="txtRut" id="txtRut" class="form-control" placeholder="Ingrese su rut">
                            </div>

                            <!-- Nombre Completo Usuario -->
                            <div class="form-group">
                                <label for="Nombre">Nombre Completo:</label><br>
                                <input type="text" name="txtNombre" id="txtNombre" class="form-control" placeholder="Ingrese su nombre completo">
                            </div>

                            <!-- Correo Usuario -->
                            <div class="form-group">
                                <label for="Correo">Correo Electronico:</label><br>
                                <input type="text" name="txtCorreo" id="txtCorreo" class="form-control" placeholder="Ingrese su correo electronico">
                            </div>

                            <!-- Genero Usuario -->
                            <div class="form-group">
                                <label for="Genero">Genero:</label><br>
                                <select name="" id="" class="form-control">
                                    <option value="" class="form-control">Seleccione</option>
                                </select>
                            </div>

                            <!-- Edad Usuario -->
                            <div class="form-group">
                                <label for="Edad">Edad:</label><br>
                                <input type="text" name="txtCorreo" id="txtEdad" class="form-control" placeholder="Ingrese su Edad">
                            </div>

                            <hr>

                            <h4>Usuario: </h4>
                            <hr style="background-color: black">
                            
                            <!-- Usuario -->
                            <div class="form-group">
                                <label for="Nombre">Nombre Usuario:</label><br>
                                <input type="text" name="txtUsuario" id="txtUsuario" class="form-control" placeholder="Ingrese nombre usuario">
                            </div>

                            <!-- Contraseña -->
                            <div class="form-group">
                                <label for="Contraseña">Contraseña:</label><br>
                                <input type="password" name="txtPass" id="txtPass" class="form-control" placeholder="Ingrese una contraseña">
                            </div>

                            <!-- Verificacion de Contraseña -->
                            <div class="form-group">
                                <label for="Nombre">Repetir Contraseña:</label><br>
                                <input type="password" name="txtRepass" id="txtRepass" class="form-control" placeholder="Repita su contraseña">
                            </div>

                            <!-- Boton Creacion Usuario -->
                            <br>
                            <div class="form-group" method="POST">
                                <input type="submit" name="btnRegistrar" class="btn btn-success btn-md" value="Registrar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock body%}